body{
    list-style: none;
    min-height: 900px;
}

.left-container img{
    width: 200px;
    height: 200px;
}

.left-content{
    background: #003147;
    padding: 40px;
}

.left-content h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.left-content h4{
    font-size: 1.2em;
    font-weight: 300;
}

.contact-container h4{
    font-weight: 600;

}

.icon i{
    color: #03A9F4;
}

li{
    list-style-type: none;
    margin-left: -40px;
}

.faculdade h6{
    color: #03A9F4;
}

.faculdade h5{
    font-size: 12px;
}

.idiomas-container li{
    font-size: 12px;
}

.right-container{
    background-color: #fff;
    padding: 40px;
}

.right-content h2{
    color: #003147;
}

.right-content p{
    color: #333;
}

.right-content h3{
    color: #03A9F4;
}

.right-content h5{
    color: #848C90;
}

.certificacoes i{
    color:#03A9F4;
    font-size: 24px;
}

.certificacoes p{
    font-weight: 600;
    font-size: 1.1em;
}

.contact-container span{
    font-size: 12px;
}

.right-content .name{
    max-width: 250px;
}

.right-content .date h6{
    color: #848C90;
}

.right-content .name h6{
    color: #03A9F4;
    text-transform: uppercase;
}